# parent folder
refer_code/
test_vid/
__pycache__/
.env

# backend
backend/__pycache__/
backend/*/__pycache__/
backend/.claude/
backend/.vscode/
backend/videos.db
backend/videos.db.bak
backend/videos_url.json
backend/miaowu.txt
backend/Dockerfile
backend/.dockerignore
backend/.gitattributes
backend/.gitignore
backend/CLAUDE.local.md
backend/CLAUDE.md
backend/models/
backend/rubbish/
backend/config/config.ini
backend/cache/
backend/static/
backend/staticfiles/
backend/accounts/
backend/video/migrations/
backend/test/
backend/work_dir/
backend/media/
*.mp4
*.__pycache__
*.srt
backend/video/app.py
*.pyc

# frontend
frontend/.env
frontend/*.tsbuildinfo
frontend/.claude/
frontend/.vscode/
frontend/dist/
frontend/*.png/
frontend/node_modules/
frontend/public/logo2.png
frontend/.prettierrc.json
frontend/CLAUDE.local.md
frontend/CLAUDE.md
frontend/csrf_cookies.txt
frontend/test.html
frontend/src/assets/vjs-luxmty/fonts/
frontend/src/shims-hls.d.ts